<%= form_with(model: split, local: true) do |form| %>
  <% if split.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(split.errors.count, "error") %> prohibited this split from being saved:</h2>

      <ul>
        <% split.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :item_id %>
    <%= collection_select(:split, :item_id, Item.all, :id, :name)%>
  </div>

  <div class="field">
    <%= form.label :soldFor %>
    <%= form.number_field :soldFor %>
  </div>

  <div class="field">
    <%= form.label :splitAmt %>
    <%= form.number_field :splitAmt %>
  </div>

  <div class="field">
    <%= form.label :team_id %>
    <%= collection_select(:split, :team_id, Team.all, :id, :size   ) %>
  </div>

  <div class="field">
    <%= form.label :inName %>
    <%= form.text_field :inName %>
  </div>
  <div class="field">
    <%= form.label :kc %>
    <%= form.text_field :killCount %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
