<p id="notice"><%= notice %></p>

<h1>Splits</h1>

<table>
  <thead>
    <tr>
      <th> Item Name </th>
      <th> Sold For </th>
      <th> Split Amount </th>
      <th> Team Size </th>
      <th> InName Purple </th>
      <th> Kill Count </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @splits.each do |split| %>
      <tr>
        <td><%= split.item.name %></td>
        <td><%= split.soldFor %></td>
        <td><%= split.splitAmt %></td>
        <td><%= split.team.size %></td>
        <td><%= split.inName %></td>
        <td><%= split.killCount %></td>
        <td><%= link_to 'Show', split %></td>
        <td><%= link_to 'Edit', edit_split_path(split) %></td>
        <td><%= link_to 'Destroy', split, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New Split', new_split_path %>

<hr>
<h1>Summary</h1>
Sum of the Splits : <%= @splitSum %>
<br>
Latest Split Item : <%= @splitLast%>
Latest Split Amt : <%= %>