<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @split.item_id %>
</p>

<p>
  <strong>Soldfor:</strong>
  <%= @split.soldFor %>
</p>

<p>
  <strong>Splitamt:</strong>
  <%= @split.splitAmt %>
</p>

<p>
  <strong>Team:</strong>
  <%= @split.team_id %>
</p>

<p>
  <strong> Name Who Recieved Unique :</strong>
  <%= @split.inName %>
</p>

<p>
  <strong> KC :</strong>
  <%= @split.killCount %>
</p>

<%= link_to 'Edit', edit_split_path(@split) %> |
<%= link_to 'Back', splits_path %>
