<!DOCTYPE html>
<html>
  <head>
    <title>Splits</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <ul>
      <li><%= link_to "Bosses", bosses_path %></li>
      <li><%= link_to "Items", items_path %></li>
      <li><%= link_to "Team Sizes", teams_path %></li>
      <li><%= link_to "Splits", splits_path %></li>
    </ul>
  </head>

  <body>
    <br><br>

    <%= yield %>
  </body>
</html>
